{% extends 'base.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<body>
    <h1>{{ideas.title}}<br></h1>
    <hr>
    {{ideas.writer}}<br>
    {{ideas.body}}<br>
    {{ideas.pud_date}}<br>
    <hr>
    {% for comment in post.comments.all %} 
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
<a class="btn btn-default" href="{% url 'add_comment_to_idea' pk=idea.pk %}">Add comment</a>
</body>
</html>
{% endblock %}