<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>

    <h1>당신의 아이디어를 검색해보세요.</h1>
    <br>
    <form action="{% url 'list' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search">
        <input type="submit"></input>
    </form>

    <a href="{%url 'new' %}">Write</a>

    <!-- 로그인이 된 상태 -->
    {% if user.is_authenticated %}
    <span>ID: {{user.username}} </span><br>
    <span>닉네임: {{user.nickname}}</span><br>
    <span>{{user.position}}</span><br>

    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}

    <!-- 로그인이 되지 않은 상태 -->
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% endif %}



</body>
</html>