{% extends 'sidebar.html' %}
{% block container %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my comment page</title>
    
</head>

<body>
    
    
    - 내가 쓴 comment<br>
    <hr>
    <ol>
    {% for comment in comments %}
    <div>
        <br>
        <h2><li>
            작성한 코멘트: {{comment.message}}</h2>
            <ul>
                <h3>
                <li>남긴 글: <a href="{%url 'detail' comment.idea.id%}">{{comment.idea.title}}</a></li></h3>
                
            </ul>

        </li>   
       
        
        
        
        
    </div>
    

    {% endfor %}
    </ol>
</body>

</html>
{% endblock %}
