{% extends 'sidebar.html' %}
{% block container %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my information</title>
</head>
<body>
    - MY INFO<br>
    
    <h3>
        <ul>
            <br>
        <li>이름: {{user.get_username}}</li><br>
        <li>NickName: {{user.nickname}}</li><br>
        <li>position: {{user.position}}</li>
        
        </ul>
    </h3>

</body>
</html>

{% endblock %}