


{% block container %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my question page</title>
</head>

<body>
    <h1>내가 쓴 글</h1>
    
    {% for idea in ideas %}
    <div>
        <a href="{%url 'detail' idea.id%}">
            <h3>{{idea.title}}</h3>
        </a>
        
        {{idea.pud_date}}
    </div>
    <hr>
    {% endfor %}
</body>

</html>
{% endblock %}